.team-card-full {
    margin-bottom: 100px;

    &__info {
        align-self: stretch;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        margin-top: 50px;
        display: flex;
        gap: 60px;
        padding: 0 50px;
    }

    &__photo {
        max-width: 330px;
        max-height: 440px;
        min-height: 240px;
        min-width: 180px;
        flex: 1 0 0;

        img {
            display: block;
            aspect-ratio: 3/4;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__info-container {
        display: flex;
        min-width: 500px;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        flex: 1 0 0;
    }

    &__name-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__position {
        color: var(--gray-light);
        font-size: 24px;
        line-height: 130%;
    }

    &__biography-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__biography {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__biography-paragraph {
        color: var(--gray-light);
        font-size: 22px;
        line-height: 130%; 
    }

    &__spectacles-container,
    &__spectacles {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    &__spectacle-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        padding-bottom: 12px;
        border-bottom: 1.5px solid var(--gray-medium);

        transition: all 0.2s ease-out;
        &:hover {
            color: var(--pomegranate-bright);
            border-color: var(--pomegranate-bright);
        }
    }
    &__spectacle-title,
    &__spectacle-role {
        font-size: 20px;
        line-height: 130%; 
    }
}
