.team-card-full {
    margin-bottom: 100px;

    &__info {
        display: flex;
        align-self: stretch;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        margin-top: 50px;
        gap: 50px;
        padding: 0 50px;

        @include laptop{
            flex-direction: column;
            padding: 0 15px;
        }

        @include tablet{
            margin-top: 30px;
            gap: 30px;
        }
    }

    &__photo {
        max-width: 330px;
        max-height: 440px;
        min-height: 240px;
        min-width: 180px;
        flex: 1 0 0;

        img {
            display: block;
            aspect-ratio: 3/4;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        @include laptop{
            order: 1;
            width: 250px;
            min-height: 333.333px;
        }
    }

    &__info-container {
        display: flex;
        min-width: 500px;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        flex: 1 0 0;

        @include laptop{
            display: contents;
        }
    }

    &__name-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__name{
        @include title-h2--underline;

        @include tablet{
            @include title-h3--underline
        }
        @include mobile{
            @include title-h4--underline
        }
    }

    &__position {
        @include text-24;
        color: var(--gray-light);
    }

    &__biography-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include laptop{
            order: 2;
        }

        @include tablet{
            margin-top: 50px;
            gap: 15px;
        }
    }

    &__biography {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__biography-paragraph {
        @include text-20;
        color: var(--gray-light);
    }
    &__spectacles-container{
        @include laptop{
            order: 2;
        }
        @include tablet{
            margin-top: 50px;
        }
    }
    &__spectacles-container,
    &__spectacles {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    &__spectacle-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        padding-bottom: 12px;
        border-bottom: 1.5px solid var(--gray-medium);

        transition: all 0.2s ease-out;
        &:hover {
            color: var(--pomegranate-bright);
            border-color: var(--pomegranate-bright);
        }
    }
    &__spectacle-title,
    &__spectacle-role {
        @include text-20;
    }
    &__spectacle-title{
        padding-right: 50px;
    }
}
