.footer {
    background-color: var(--black-30);
    backdrop-filter: blur(20px);
    padding: 50px;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 50px;
    }

    &__left {
        display: flex;
        min-width: 170px;
        max-width: 345px;
        padding-right: 50px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex: 1 0 0;
        margin-right: auto;
    }

    &__logo {
        width: 295px;
        height: 122px;
        color: var(--gray-basic);
    }

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        color: var(--gray-light);
    
        margin-top: 20px;
         
        line-height: 20px; /* 125% */
    }

    // &__social-media {
    //     display: flex;
    //     justify-content: center;
    //     gap: 24px;

    //     margin-top: 40px;
    // }
    // &__social-media-item {
    //     width: 30px;
    //     height: 30px;

    //     color: var(--dark-skeleton);
    // }


    &__contacts{
        display: flex;
        min-width: 200px;
        max-width: 290px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex: 1 0 0;
        margin-right: 50px;
    }

    &__contacts-info-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
    }

    &__contacts-info-value{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    &__contacts-text,
    &__schedule-text,
    &__work-days,
    &__off-days {
        font-size: 16px;
        font-weight: 400;
        color: var(--gray-ligth);
        margin-bottom: 8px;
        line-height: 20px; /* 125% */
    }
    
    &__schedule{
        max-width: 290px;
    }


    &__off-days-text{
        font-size: 20px;
        line-height: 24px; /* 120% */
    }


    &__work-hours-container {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    &__work-time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        line-height: 24px;
    }

    &__work-time-text{
        margin-bottom: 8px;
    }

    &__work-time-line {
        display: flex;
        align-items: center;

        width: 100%;
    }

    &__work-time-divider {
        max-width: 185px;
        width: 100%;
        height: 1px;
        background-color: var(--white);
        margin: 0 10px;
    }
}
