.contacts-page {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 100px 0;
    padding: 0 50px;
    
    &__social-section{
        display: flex;
        padding: 40px 60px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;

        background: var(--white-10);
        /* Background blur */
        backdrop-filter: blur(20px);
    }

    &__social-title{
        text-align: center;
        font-size: 32px;
        line-height: 38px; 
    }

    &__social-links-container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 40px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    &__social-link{
        display: flex;
        width: 260px;
        height: 50px;
        padding: 10px 40px;
        justify-content: space-between;
        align-items: center;

        border-radius: 100px;
        background: var(--pomegranate-basic);
        backdrop-filter: blur(30px);

        color: var(--white-100, #FFF);
    
        font-size: 20px;
        line-height: 24px; 
        white-space: nowrap;

        transition: all ease-in 0.2s;

        &:hover{
            background: var(--pomegranate-medium);
            backdrop-filter: blur(10px);
        }
        &:active{
            color: var(--pomegranate-basic);
            border: 2px solid var(--pomegranate-basic);
            background: none;
            backdrop-filter: blur(30px);
        }
        &:focus{
            border: none;
        }

        svg{
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
        }
    }

    &__faq-list{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__faq-question{
        font-size: 40px;
        line-height: 50px; 
        text-transform: uppercase;

        padding-bottom: 16px;
        border-bottom: 1.5px solid var(--gray-light);;
        
        transition: border-color 0.3s ease-in;
        
        &:hover{
            cursor: pointer;
            border-color: var(--pomegranate-bright);
        }

        &--opened{
            border-color: var(--pomegranate-bright);
        }
      
    }

    &__faq-answer-container{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__faq-answer-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__faq-answer-text{
        color: var(--gray-light);
        font-size: 22px;
        line-height: 28px;
    }
}
