.contacts-page {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__main-title {
        margin-top: 120px;
    }

    &__info-title {
        font-size: 18px;
        color: var(--light-gray);
    }

    &__info-text {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__phone,
    &__email {
        display: block;
        font-size: 18px;
    }

    &__map {
        width: 100%;
        height: 300px;
    }

    &__social-media {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
    }
    &__social-media-item {
        width: 30px;
        height: 30px;

        color: var(--dark-skeleton);
    }
}
