.contacts-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 50px;

    @include laptop {
        padding: 0 15px;
    }

    &__social-section {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;

        background: var(--white-10);
        /* Background blur */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        @include laptop {
            padding: 20px;
        }
    }

    &__social-title {
        @include text-32;
        text-align: center;

        @include laptop {
            @include text-28;
        }

        @include tablet {
            @include text-24;
        }

        @include mobile {
            @include text-20;
        }
    }

    &__social-links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 40px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    &__social-link {
        @include text-20;

        display: flex;
        height: 50px;
        min-width: 200px;
        max-width: 260px;
        padding: 10px 10px 10px 15px;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;

        border-radius: 100px;
        background: var(--pomegranate-basic);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        color: var(--white-100, #fff);

        white-space: nowrap;

        transition: all ease-in 0.2s;

        p {
            @include text-20;
            display: flex;
            padding: 0px 15px;
            justify-content: center;
            align-items: center;
            flex: 1 0 0;
        }
        @media (any-hover: hover) {
            &:hover {
                background: var(--pomegranate-medium);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
        }
        &:active {
            color: var(--pomegranate-basic);
            border: 2px solid var(--pomegranate-basic);
            background: none;
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
        }
        &:focus {
            border: none;
        }

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
        }
    }

    &__faq-list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__faq-title-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
        align-self: stretch;

        padding-bottom: 8px;
        border-bottom: 1.5px solid var(--gray-light);

        transition: all 0.2s ease-in;

        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                border-color: var(--pomegranate-bright);
                color: var(--pomegranate-bright);
            }
        }

        &--opened {
            color: var(--pomegranate-bright);
            border-color: var(--pomegranate-bright);
        }
    }

    &__faq-question {
        @include title-h3;
        width: 100%;
        color: white;

        @include laptop {
            @include title-h4;
        }

        @include tablet {
            @include title-h5;
        }

        @include mobile {
            @include title-h6;
        }
    }

    &__faq-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 36px;
        width: 36px;
        height: 36px;
    }

    &__faq-answer-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.2s ease-out, opacity 0.2s ease-out, margin-top 0.2s ease-out;

        &--visible {
            max-height: fit-content;
            opacity: 1;
            margin-top: 40px;
        }
    }
    &__faq-answer-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__faq-answer-title {
        @include title-h6;
    }
    &__faq-answer-text {
        @include text-22;
        color: var(--gray-light);
    }
}
