.team-filter{
    display: flex;
    //justify-content: center;
    gap: 15px;

    overflow-x: auto; /* или scroll для постоянной полосы прокрутки */
    overflow-y: hidden; /* отключаем вертикальную прокрутку */
    white-space: nowrap; /* запрещаем перенос элементов */
    -webkit-overflow-scrolling: touch; /* плавная прокрутка на iOS */
    scrollbar-width: thin; /* тонкий скроллбар для Firefox */

    @include tablet{
        padding: 0 15px;
    }
}