.team-card-brief {
    display: flex;
    min-width: 200px;
    width: 100%;
    flex: 1 1 250px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    @include mobile{
        min-width: initial;
    }

    &:hover {
        .team-card-brief__position,
        .team-card-brief__name {
            color: var(--pomegranate-bright);
        }
    }

    &__photo {
      //  max-height: 350px;
        height: 350px;
        align-self: stretch;
        aspect-ratio: 5/7;
        object-fit: cover;

        @include laptop{
          //  max-height: initial;
            height: 364px;
        }
        @include tablet{
            height: 294px;
        }
        @include mobile{
            height: 490px;
        }
    }
    &__name {     
        @include text-24;

        align-self: stretch;      
        transition: color 0.2s ease-out;
    }
    &__position {
        @include text-20;
        color: var(--gray-basic);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        align-self: stretch;

        overflow: hidden;
        text-overflow: ellipsis;

        margin-top: 2px;
      
        transition: color 0.2s ease-out;
    }
}
