@use 'mixins' as *;

html {
    font-size: 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    margin-top: 50px; /* HEADER_SIZE */
    font-family: 'Jost', 'Lexend-Regular', sans-serif;
    color: var(--white);
    background: no-repeat center/cover fixed;
    background-image: url('../assets/backgrounds/mainBackground.png');
    background-image: image-set(
      url('../assets/backgrounds/mainBackground.webp') type("image/webp"),
      url('../assets/backgrounds/mainBackground.png') type("image/png")
    );
    background-size: cover;

    font-weight: 400;
    font-size: 22px;
    line-height: 130%; 
}


main {
    position: relative;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-family: inherit;
}

.site-container {
    overflow: hidden;
}

.loading,
.not-found,
.error{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-self: center;
    font-size: 30px;
    line-height: 52px;
}

.error {
    border: 2px #ff4019 solid !important;
}


.visually-hidden {
    @include visually-hidden;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    @include min-max(320px, 100%);
    // Элемент растягивается на всю ширину родителя, но не становится уже 320px
}

.wrap {
    @include min-max(220px, 1220px);
    // Элемент ограничен шириной 1220px, даже если экран больше
}
