:root {
    --pomegranate-bright: #D1001C;
    --pomegranate-basic: #B40018;
    --pomegranate-medium: #700011;
    --pomegranate-dark: #430812;
    --white: #fff;
    --gray-light: #D1D1D1;
    --gray-basic: #7C7C7C;
    --gray-medium: #4B4B4B;
    --black: #000;
    --black-10: rgba(0, 0, 0, 0.10);
    --black-30: rgba(0, 0, 0, 0.30);
    --black-60: rgba(0, 0, 0, 0.60);
    --white-10: rgba(255, 255, 255, 0.10);
    --white-20: rgba(255, 255, 255, 0.20);
    --white-30: rgba(255, 255, 255, 0.30);

    --gradient-black: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);
}
