.performances-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(400px, 540px), 1fr)
      );

    @include laptop{
        grid-template-columns: 1fr;
    }
}
