.afisha{
    margin: 100px 0;
    padding: 0 50px;
    
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__schedule{
        display: grid;
        gap: 40px;
    } 
}