.performance-card {
    position: relative;
    height: 350px;
    overflow: hidden;
    background-color: var(--black-30);

    &:hover{
        img{
            transform: scale(1.1);
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__tag{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 0.3s ease-out;

        &--placeholder{
            transform: scale(1.01);
        }
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 250px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
        flex-shrink: 0;
        align-self: stretch;

    }

    &__title {
        @include title-h6;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        align-self: stretch;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        @include text-20;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        align-self: stretch;

        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
    }
}
