.performance-card {
    position: relative;
    height: 350px;
    overflow: hidden;
    background-color: var(--black-30);

    &:hover{
        img{
            transform: scale(1.1);
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__tag{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 0.3s ease-out;

        &--placeholder{
            transform: scale(1.01);
        }
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);        padding: 30px;
        display: flex;;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
        flex-shrink: 0;
        align-self: stretch;
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        line-height: 22px;
    }
}
