.about-page {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 70px;

        margin-bottom: 300px;
    }

    &__main-title {
        margin-top: 120px;
    }

    &__image-container {
        width: 100%;
        height: 600px;
        overflow: hidden;

        background-color: var(--skeleton);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 0 50px;
    }

    &__paragraph {
        font-size: 20px;
        margin: 0;
    }

    &__partners {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__partners-title {
        font-size: 32px;
        text-align: center;
        margin: 0;
    }
}
