.team-page{
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0 50px;

    @include laptop{
        padding: 0 15px;
    }

    @include tablet{
        padding: 0;
    }

    &__header{   
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        row-gap: 50px;
        flex-wrap: wrap;
        
        @include tablet{
            margin-bottom: 30px; 
            row-gap: 30px;
        }
    }

    &__title{
        margin-right: 40px;
        @include title-h3--underline;

        @include tablet{
            padding: 0 15px;
            @include title-h4--underline;
        }

        @include mobile{
            @include title-h5--underline;
        }
    }
}