html {
    font-size: 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    margin-top: 74px; // HEADER_SIZE
    font-family: 'Lexend-Regular', sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--white);
}

main {
    position: relative;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-family: inherit;
}

.site-container {
    overflow: hidden;
}

.error {
    border: 2px #ff4019 solid !important;
}

.visually-hidden {
    @include visually-hidden;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    @include min-max(320px, 100%);
    // Элемент растягивается на всю ширину родителя, но не становится уже 320px
}

.wrap {
    @include min-max(320px, 1300px);
    // Элемент ограничен шириной 1300px, даже если экран больше
}
