.project-info {
    margin-bottom: 100px;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 50px;

        margin-top: 50px;
        padding: 0 50px;

        @include laptop {
            padding: 0 15px;
        }
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__title {
        @include title-h2--underline;

        @include tablet {
            @include title-h3--underline;
        }

        @include mobile {
            @include title-h4--underline;
        }
    }

    &__additional,
    &__description {
        @include text-24;
        color: var(--gray-light);
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__description-title {
        @include title-h4;
        @include tablet {
            @include title-h5;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__button {
        width: fit-content;
        padding: 10px 100px;

        @include mobile{
            width: 100%;
        }
    }
}
