.project-info {
    margin-bottom: 100px;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 60px;

        margin-top: 60px;
        padding: 0 50px;
    }

    &__title-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__additional,
    &__description{
        color: var(--gray-light);
        font-size: 24px;
        line-height: 28px;
    }

    &__description-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__button {
        width: fit-content;
        max-width: 500px;
        padding: 10px 100px;
    }
}
