.default-banner {
    width: 100%;
    overflow: hidden;

    &__container {
        position: relative;
        //max-height: 600px;
        padding: 0;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__single-image {
        width: 100%;
        max-width: 1120px;
        max-height: 600px;
        height: 100%;
    }

    &__slider-image {
        display: block;
        max-width: 1120px;
        width: 100%;
        max-height: 600px;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
    }

    &__slider {
        overflow: visible;
    }

    &__slider-item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1120px;
    }

    .swiper-slide {
        height: initial;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        width: 50px;
        height: 50px;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        border-radius: 50%;

        background: var(--white-10, rgba(255, 255, 255, 0.1));

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        transition: background-color 0.2s ease-out;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--white-20);
            }
        }

        @include tablet {
            display: none;
        }
    }

    .swiper-button-prev {
        background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .swiper-button-next {
        background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
        background-position: center;
        background-repeat: no-repeat;

        transform: scaleX(-1);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination-bullet {
        display: none;
        width: 6px;
        height: 6px;
        background: transparent;
        border: 1px solid var(--gray-light);
        border-radius: 50%;
        opacity: 1;
        transition: all 0.3s ease;

        &-active {
            background: white;
            border-color: white;
        }

        @include tablet {
            display: inline-block;
        }
    }
}
