.default-banner {
    width: 100%;
    overflow: hidden;

    &__container {
        position: relative;
        max-height: 600px;
        padding: 0;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__single-image{
        max-width: 1120px;
        max-height: 600px;
    }

    &__slider {
        height: 100%;
        text-align: center;
        overflow: visible;
    }

    &__slider-item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1120px;
        max-height: 600px;

        &.swiper-slide-active {
            position: relative;
        }

        img {
            display: block;
            max-width: 1120px;
            width: 100%;
            max-height: 600px;
            height: 100%;
            object-fit: cover;
            user-select: none;
            pointer-events: none;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        width: 50px;
        height: 50px;
     
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        border-radius: 50%;

        background: var(--white-10, rgba(255, 255, 255, 0.10));

        backdrop-filter: blur(20px);
    }

    .swiper-button-prev {
        background-image: url('../../../../assets/icons/swiper-prev-btn.svg');

        &:hover {
            background-image: url('../../../../assets/icons/swiper-prev-btn--hover.svg');
        }
    }

    .swiper-button-next {
        background-image: url('../../../../assets/icons/swiper-next-btn.svg');

        &:hover {
            background-image: url('../../../../assets/icons/swiper-next-btn--hover.svg');
        }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }
}
