.yandex-map-container {
    width: 100%;
    height: 400px;
    background-color: var(--gray-medium);

    
    @include laptop{
        height: 300px;
    }
    @include mobile{
        height: 200px;
    }
}

.yandex-map {
    width: 100%;
    height: 100%;
}
