.project-card {
    position: relative;
    height: 350px;
    overflow: hidden;
    background-color: var(--black-30);
    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__container {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 0.3s ease-out;
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 250px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
        flex-shrink: 0;
        align-self: stretch;
    }

    &__title {
        @include text-24;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        align-self: stretch;

        overflow: hidden;
        text-overflow: ellipsis;
    }
}
