.project-card {
    height: 400px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--skeleton);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
