.day-schedule {

    
    &__day-title {
        @include text-24;
        margin-bottom: 20px;
    }

    &__events {
        gap: 40px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1120px;
    }
}
