.day-schedule {
    max-width: 1120px;
    &__day-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 24px;
    }

    &__events {
        gap: 40px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1120px;
    }
}
