.partners-banner {
    &__swiper-container {
        position: relative;
        padding: 0 40px;

        @include laptop{
            padding: 0 60px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            cursor: pointer;
            display: flex;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            background-color: var(--white-10);
            backdrop-filter: blur(20px);
        }

        .swiper-button-prev {
            left: -25px;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                background-color: var(--white-20);
            }

            @include laptop{
                left: 0px;
            }
        }

        .swiper-button-next {
            right: -25px;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;

            transform: scaleX(-1) translateY(-50%);

            &:hover {
                background-color: var(--white-20);
            }

            @include laptop{
                right: 0px;
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }
    }

    &__slider-item{
        display: flex;
        overflow: hidden;
        align-self: center;
        justify-content: center;
    }


    &__slider-link {
        display: flex;
        box-sizing: border-box;
        min-width: 120px;
        max-width: 245px;
        min-height: 120px;
        max-height: 245px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
    }

    &__single-container{
        justify-content: center;
        align-items: center;
    }
}
