.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: var(--text-primary);
}
