.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    background: var(--white);

    padding-top: 30px;

    &__wrap {
        display: flex;
        align-items: center;

        border: 1px solid var(--skeleton);

        @media (max-width: 1024px) {
            justify-content: space-between;
        }
    }

    &__logo {
        margin-right: 73px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__social-media {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: auto;
    }

    &__nav-list,
    &__social-media {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__social-media-item {
        width: 30px;
        height: 30px;

        color: var(--skeleton);
    }

    &__menu-button {
        display: none;

        width: 50px;
        height: 50px;
        color: var(--skeleton);

        @media (max-width: 1024px) {
            display: block;
        }
    }
}

.logo {
    width: 150px;
    height: 50px;
    color: var(--skeleton);
}
