.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    background: var(--white);

    padding-top: 30px;

    &__wrap {
        display: flex;
        align-items: center;

        border: 1px solid var(--skeleton);
    }

    &__logo {
        margin-right: 73px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__social-media {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: auto;
    }

    &__social-media-item {
        width: 30px;
        height: 30px;

        color: var(--skeleton);
    }

    .logo {
        width: 150px;
        height: 50px;
        color: var(--skeleton);
    }
}
