.menu {
    pointer-events: none;
    transition: opacity 400ms ease;
    transition: height 0.2s linear;
    height: calc(100vh - 54px); // header size
    height: calc(100dvh - 54px);
    width: 100%;

    &--open {
        opacity: 1;
        pointer-events: auto;
    }

    &--closed {
        transition: opacity 0ms ease;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-top: 40px;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__nav-item {
        @include text-22;
    }

    &__social-media {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
    &__social-media-item {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
    }
}
