.latest-performances{
    margin-top: 100px;
    margin-bottom: 100px;
    
    @include laptop {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    @include tablet{
        row-gap: 30px;
    }

    &__header{
        padding: 0 50px;

        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        flex-wrap: wrap;

        row-gap: 50px;

        @include laptop {
            padding: 0 15px;
            display: contents;   
        }  
    }

    &__title{
        @include title-h3--underline;
        padding-right: 40px;

        @include laptop {
            padding: 0 15px;
        }  

        @include tablet{
            padding-right: 0;
            @include title-h4--underline;
        }

        @include mobile{
            @include title-h5--underline
        }
    }


    &__list{
        padding: 0 50px; 
        display: flex;
        gap: 20px;

        overflow-x: auto; /* или scroll для постоянной полосы прокрутки */
        overflow-y: hidden; /* отключаем вертикальную прокрутку */
        //white-space: nowrap; /* запрещаем перенос элементов */
        -webkit-overflow-scrolling: touch; /* плавная прокрутка на iOS */
        scrollbar-width: thin; /* тонкий скроллбар для Firefox */

        // отключение полосы прокрутки

        // scrollbar-width: none; /* Firefox */
        // -ms-overflow-style: none; /* IE/Edge */

        // &::-webkit-scrollbar {
        //     display: none; /* Chrome/Safari */
        //   }

        // стили для комьютера
        // &::-webkit-scrollbar-button{
        //     display: none;
        // }

        // &::-webkit-scrollbar {
        //     height: 4px;
        //   }
        
        // &::-webkit-scrollbar-track {
        //  background-color: transparent;
        // }
        
        // &::-webkit-scrollbar-thumb {
        //      background-color: var(--gray-medium);
        //   }

        @include laptop{
            padding: 0 15px;
        }

        @include mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
        }
    }

    &__card{
        width: 100%;
        max-width: 360px;

        @include mobile{
            max-width: 100%;
        }
    }

    &__button{
        border-radius: 300px;
        background: var(--pomegranate-medium);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        display: flex;
        height: 50px;
        min-width: 220px;
        max-width: 360px;
        padding: 12px 30px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;

        color: white;
        white-space: nowrap;

        transition: all ease-in 0.2s;

        &:hover{
            background: var(--pomegranate-dark);
        }

        @include laptop {
            margin: 0 15px;
            order: 1;
        }

        @include tablet{
            max-width: 100%;
        }
    }
}