.latest-performances{
    padding: 50px;
    margin: 100px 0;

    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__title{
        font-size: 36px;
    }

    &__list{
        display: flex;
        gap: 20px;
       
    }

    &__card{
        width: 100%;
        max-width: 360px;

    }

    &__button{
        border-radius: 300px;
        background: var(--pomegranate-medium);
        backdrop-filter: blur(10px);

        display: flex;
        height: 50px;
        min-width: 220px;
        max-width: 360px;
        padding: 12px 30px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;

        color: white;

        transition: all ease-in 0.2s;

        &:hover{
            background: var(--pomegranate-dark);
        }
    }
}