.about-page {
    margin-bottom: 100px;

    &__wrap {
        margin-top: 50px;
        padding: 0 50px;

        @include laptop{
            padding: 0 15px;

        }
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    &__main-title,
    &__partners-title{
        @include title-h3--underline;

        @include tablet{
            @include title-h4--underline;
        }

        @include mobile{
            @include title-h5--underline;
        }
    }


    &__image-container {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    &__description {
        @include text-20;

        display: flex;
        flex-direction: column;
        gap: 14px;
        color: var(--gray-light);
    }

    &__partners-title {
        margin-bottom: 30px;
    }
}
