.select-button {
    //  @include text-20;
    font-size: 20px;
    line-height: 26px;

    color: var(--white);
    justify-self: center;
    align-self: center;
    height: 50px;
    padding: 12px 30px;

    cursor: pointer;

    border-radius: 200px;
    border: 1.5px solid var(--pomegranate-medium);

    transition: all 0.2s ease-out;

    &--active {
        background-color: var(--pomegranate-medium);
    }
    
    @media (any-hover: hover) {
        &:hover:not(.select-button--active) {
            color: var(--pomegranate-basic);
        }
    }
}
