.tag {


    &--small {
        display: inline-flex;
        padding: 6px 16px 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: var(--pomegranate-bright);
        font-size: 16px;
        line-height: 20px; 
        
        border-radius: 30px;
        border: 1.2px solid var(--pomegranate-bright);
        background: var(--black-10);

        /* Background blur 40 */
        backdrop-filter: blur(20px);
    }

    &--big{
        display: inline-flex;
        height: 50px;
        padding: 0px 30px 12px 30px;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        flex-shrink: 0;

        color: var(--pomegranate-bright);

        /* Text 22 */
        font-size: 22px;
        line-height: 28px; /* 127.273% */

        border-radius: 30px;
        border: 1.5px solid var(--pomegranate-bright);
        background: var(--black-10);

        /* Background blur 40 */
        backdrop-filter: blur(20px);
    }
}
