.tag {
    &--small {
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: var(--pomegranate-bright);

        font-size: 16px;
        line-height: 130%;

        border-radius: 30px;
        border: 1.5px solid var(--pomegranate-bright);
        background: var(--black-30);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    &--big {
        display: inline-flex;
        height: 50px;
        padding: 0px 30px 12px 30px;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        flex-shrink: 0;

        color: var(--pomegranate-bright);

        /* Text 22 */
        font-size: 22px;
        line-height: 130%;

        border-radius: 30px;
        border: 1.5px solid var(--pomegranate-bright);
        background: var(--black-30);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

    }
}
