.ticket-button {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    font-size: 20px;
    line-height: 130%;
    color: var(--white);

    background: var(--pomegranate-basic);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    transition: all ease-in 0.2s;
    @media (any-hover: hover) {
        &:hover {
            background: var(--pomegranate-medium);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }
    }
    &:focus {
        border: none;
    }
    &:disabled {
        pointer-events: none;
        background: var(--gray-basic);
        color: var(--black-100);
    }
}
