.title-h1 {
    font-family: Jost;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 109.375% */
    text-transform: uppercase;
}

.title-h2--underline {
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 62.4px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--pomegranate-bright, #d1001c);
    text-decoration-thickness: 5.5%;
    text-underline-offset: 10%;
    text-underline-position: from-font;
    text-transform: uppercase;
}

.title-h3 {
    /* Heading/H3/default */
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 52px */
    text-transform: uppercase;

    &--underline {
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 52px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-color: var(--pomegranate-bright, #d1001c);
        text-decoration-thickness: 5.5%;
        text-underline-offset: 10%;
        text-underline-position: from-font;
        text-transform: uppercase;
    }
}

.title-h4 {
    /* H4 */
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
}

.title-h5 {
    /* H5 */
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;

    &--underline {
        font-family: Jost;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        /* H5 - underline */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-color: var(--pomegranate-bright, #d1001c);
        text-decoration-thickness: 5.5%;
        text-underline-offset: 10%;
        text-underline-position: from-font;
        text-transform: uppercase;
    }
}
.title-h6 {
    /* Heading/H6/default */
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    text-transform: uppercase;

    &--underline {
        /* Heading/H6/underline */
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 31.2px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-color: var(--Pomegranate-Bright, #d1001c);
        text-decoration-thickness: 5.5%; /* 1.32px */
        text-underline-offset: 10%; /* 5.28px */
        text-underline-position: from-font;
        text-transform: uppercase;
    }
}
