.title-h1 {
    font-family: Jost;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;  /* 109.375% */
    text-transform: uppercase;
}

.title-h2--underline {
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 62.4px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--pomegranate-bright, #D1001C);
    text-decoration-thickness: auto;
    text-underline-offset: 25%; /* 12px */
    text-underline-position: from-font;
    text-transform: uppercase;
}

.title-h3--underline{
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--pomegranate-bright, #D1001C);
    text-decoration-thickness: auto;
    text-underline-offset: 22.5%; /* 9px */
    text-underline-position: from-font;
    text-transform: uppercase;
}

.title-h4{
    /* H4 */
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    text-transform: uppercase;
}

.title-h5{
    /* H5 */
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;  /* 116.667% */
    text-transform: uppercase;

    &--underline{
        /* H5 - underline */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-color: var(--pomegranate-bright, #D1001C);
        text-decoration-thickness: 7.5%; /* 1.8px */
        text-underline-offset: 22%; /* 5.28px */
        text-underline-position: from-font;
        text-transform: uppercase;
    }
}