.spectacle-card {
    position: relative;

    height: 350px;
    min-height: 350px;
    align-items: flex-start;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-10);
    backdrop-filter: blur(20px);

    &:hover{
        img{
            transform: scale(1.1);
        }
    }


    &__tag{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &__loading{
        font-size: 32px;
    }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__image-container{
        width: 50%;
        display: flex;
        overflow: hidden;
    }

    &__image{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        align-self: stretch;

        transition: transform 0.4s ease-out;
    }

    &__info-container{
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 20px;
        border-bottom: 1.5px solid var(--gray-medium);
    }

    &__teaser{
        overflow: hidden;
        color: var(--gray-light);
        text-overflow: ellipsis;
        white-space: nowrap;

        font-size: 18px;
        line-height: 22px; 
    }

    &__additional-info-container{
        display: flex;
        justify-content: space-between;

        &>div:not(:last-child){
            padding-right: 10px;
        }
    }

    &__start-time-container{
        display: flex;
        flex-direction: column;
    }
    &__time+p,
    &__addition{    
        color: var(--gray-light);
        font-size: 18px;
        line-height: 22px;         
    }

    &__duration-container{
        display: flex;
        flex-direction: column;
    }

    &__age-rate{
        display: flex;
        width: 50px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 11px;

        border-radius: 50%;
        border: 1.2px solid white;
        backdrop-filter: blur(10px);
        white-space: nowrap;
    }

    &__ya-button {
        max-height: 50px;
        display: flex;
        padding: 10px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;

        color: var(--white);
        background: var(--pomegranate-basic);
        backdrop-filter: blur(30px);

        margin-top: auto;

        transition: all ease-in 0.2s;

        &:hover{
            background: var(--pomegranate-medium);
            backdrop-filter: blur(10px);
        }
        &:active{
            color: var(--pomegranate-basic);
            border: 2px solid var(--pomegranate-basic);
            background: none;
            backdrop-filter: blur(30px);
        }
        &:disabled{
            pointer-events: none;
            background: var(--gray-basic);
            color: var(--black);
        }
    }

    &--latest{
        height: 540px;
        min-height: 540px;

        .spectacle-card__container {
            flex-direction: column;
        }
        .spectacle-card__image-container{
            width: 100%;
            height: 100%;
            max-height: 245px;

        }

        .spectacle-card__info-container{
            width: 100%;
            flex: 1;
            padding-top: 12px;
            padding: 16px;
            gap: 20px;
        }

        .spectacle-card__title-container{
            gap: 10px;
            padding-bottom: 16px;
        }
    }
}
