.spectacle-card {

    height: 350px;
    min-height: 350px;
    align-items: flex-start;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--white-10);
    backdrop-filter: blur(20px);

    &:hover{
        img{
            transform: scale(1.1);
        }
    }


    &__tag{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &__loading{
        font-size: 32px;
    }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__image-container{
        position: relative;
        display: flex;
        height: 350px;
        min-width: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        overflow: hidden;
    }

    &__image{
        flex: 1 0 0;
        align-self: stretch;
        object-fit: cover;

        transition: transform 0.4s ease-out;
    }

    &__info-container{
        width: 50%;
        display: flex;
        height: 350px;
        min-width: 460px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
    }

    &__title-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
    }

    &__title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        align-self: stretch;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__teaser{
        font-size: 18px;
        line-height: 130%; 

        color: var(--gray-light);
        flex: 1 0 0;
        align-self: stretch;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;

        //padding-bottom: 4px;
    }

    &__additional-info-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
        padding-top: 20px;
        border-top: 1.5px solid var(--gray-medium);

        &>div:not(:last-child){
            padding-right: 10px;
        }
    }

    &__start-time-container{
        display: flex;
        flex-direction: column;
    }
    &__time+p,
    &__addition{    
        color: var(--gray-light);
        font-size: 18px;
        line-height: 130%;         
    }

    &__duration-container{
        display: flex;
        flex-direction: column;
    }

    &__age-rate{
        font-size: 22px;
        line-height: 130%;

        display: flex;
        width: 50px;
        height: 50px;
        padding: 12px 11px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        border-radius: 50%;
        border: 1.5px solid white;
        white-space: nowrap;
    }

    &__ya-button {
        padding: 10px 40px;
    }

    &--latest{
        height: 550px;
        min-height: 520px;
        max-height: 550px;

        .spectacle-card__container {
            flex-direction: column;
        }
        .spectacle-card__image-container{
            display: flex;
            height: 240px;
            max-height: 240px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
            width: 100%;

            img{
                flex: 1 0 0;
                align-self: stretch;
            }
        }

        .spectacle-card__info-container{
            min-width: initial;
            width: 100%;
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
            flex: 1 0 0;
            align-self: stretch;
        }

        .spectacle-card__title-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            flex: 1 0 0;
            align-self: stretch;
        }

        .spectacle-card__teaser{
            font-size: 20px;
            line-height: 130%;

            flex: 1 0 0;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;

            white-space: wrap;
            -webkit-line-clamp: 3;
            line-clamp: 3;   
        }
        .spectacle-card__additional-info-container{
            padding-top: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            align-self: stretch;
            flex-wrap: wrap;
        }
    }
}
