.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    background: var(--black-30);
    backdrop-filter: blur(20px);
    max-height: 50px;


    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
 
        font-size: 16px;
        line-height: 20px;

        padding: 15px 50px;
        
        justify-content: space-between;

        @media (max-width: 1024px) {
        }
    }

    &__logo {
        height: 20px;
        width: 60px
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__social-media {
        display: flex;
        align-items: center;
        gap: 24px;
        
    }

    &__nav-list{
        display: flex;
        min-width: 480px;
        max-width: 665px;
        padding-right: 30px;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        row-gap: 16px;
        flex-wrap: wrap;
    }

    &__social-media-item {
        width: 20px;
        height: 20px;
    }

    &__menu-button {
        display: none;

        width: 50px;
        height: 50px;
        color: var(--skeleton);

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__nav-item{

        &--active{
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: 25%; /* 4px */
            text-underline-position: from-font;
        }
    }

    &__nav-list,
    &__social-media {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}
