.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    background: var(--black-60);
    backdrop-filter: blur(20px);

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
 
        font-size: 18px;
        line-height: 130%;

        padding: 15px 50px;
           
        @include laptop{
            padding: 15px;
        }
    }

    &__logo {
        box-sizing: initial;
        height: 20px;
        width: 60.77px;
        padding-right: 30px;
    }

    &__social-media {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__nav{
        min-width: 480px;
        max-width: 665px;
        flex: 1 0 0;

    }
    &__nav-list{
        display: flex;
        width: 100%;
        padding-right: 30px;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    &__social-media-item {
        width: 20px;
        height: 20px;
    }

    &__menu-button {
        display: none;

        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: var(--white);
        
        @include laptop {
            display: block;
        } 
    }

    &__nav,
    &__social-media {
        @include laptop {
            @include visually-hidden;
        } 
    }
}
