.main-banner {
    width: 100vw;
    height: calc(100vh - 50px);

    &__slider {
        position: relative;

        height: 100%;
        width: 100%;
    }

    &__slider-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &--placeholder {
            background-color: var(--black-60);
        }
    }

    &__main-image {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
    }

    &__gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--black-60, rgba(0, 0, 0, 0.6)));
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 0 50px 120px 50px;
        display: flex;
        max-width: 1220px;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;
        row-gap: 30px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    &__info-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-right: 100px;
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        max-width: 750px;
        width: 750px;
    }
    &__description {
        color: var(--gray-light);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        line-height: 24px;
        max-width: 550px;
        max-height: 78px;
        align-self: stretch;
    }

    &__additional-info-container {
        display: flex;
        gap: 50px;

        & > div:not(:last-child) {
            padding-right: 20px;
        }
    }

    &__start-date,
    &__duration {
        font-size: 30px;
        line-height: normal;
    }

    &__start-datetime,
    &__addition {
        color: var(--gray-light);
        font-size: 20px;
        line-height: 24px;
    }

    &__age-rate {
        font-size: 22px;
        line-height: 28px;

        display: flex;
        width: 50px;
        height: 50px;
        padding: 12px 11px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        aspect-ratio: 1/1;

        border-radius: 50%;
        border: 1.2px solid var(--white);
        backdrop-filter: blur(10px);
    }

    &__ya-button {
        display: flex;
        width: 550px;
        height: 50px;
        max-width: 550px;
        padding: 10px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: var(--white);
        background: var(--pomegranate-basic);
        backdrop-filter: blur(30px);

        transition: all ease-in 0.2s;

        &:hover {
            background: var(--pomegranate-medium);
            backdrop-filter: blur(10px);
        }
        &:active {
            color: var(--pomegranate-basic);
            border: 2px solid var(--pomegranate-basic);
            background: none;
            backdrop-filter: blur(30px);
        }
        &:disabled {
            pointer-events: none;
            background: var(--gray-basic);
            color: var(--black);
        }
    }

    &__buttons-container {
        width: 140px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;
            position: absolute;
            top: 0;

            background-color: var(--white-10);
            backdrop-filter: blur(20px);
        }

        .swiper-button-prev {
            left: 0;
            background-image: url('../../../../assets/icons/swiper-prev-btn.svg');

            &:hover {
                background-color: var(--white-20);
            }
        }

        .swiper-button-next {
            right: 0;
            background-image: url('../../../../assets/icons/swiper-next-btn.svg');

            &:hover {
                background-color: var(--white-20);
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }
    }
}
