.main-banner {
    width: 100vw;
    height: calc(100dvh - 53.4px);

    &__slider {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__slider-item {
        display: flex;
        height: 100%;

        &--placeholder {
            background-color: var(--black-60);
        }
    }

    &__main-image {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
    }

    &__gradient {
        position: relative;
        width: 100%;
        height: 100%;

        background-color: var(--black-60, rgba(0, 0, 0, 0.6));

        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            align-items: flex-end;
        }
    }

    &__wrap {
        width: 100%;
        padding: 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        @include laptop {
            padding: 0 15px 0;
        }

        @include tablet {
            padding-bottom: 20px;
        }
    }

    &__container {
        width: 100%;
        display: flex;

        justify-content: space-between;

        @include laptop {
            row-gap: 60px;
            flex-direction: column;
        }
    }

    &__info-container {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        gap: 60px;
        padding-right: 20px;
        max-width: 600px;
        min-width: 500px;

        @include laptop {
            padding-right: 0;
            max-width: 100%;
            min-width: initial;
        }
        @include mobile {
            gap: 40px;
        }
    }
    &__title-container {
        display: flex;
    }
    &__title {
        @include title-h1;
        display: flex;
        height: 140px;
        flex-direction: column;
        justify-content: flex-end;
        align-self: stretch;

        @include laptop {
            height: 200px;
        }

        @include tablet {
            @include title-h2;
            height: fit-content;
        }

        @include mobile {
            @include title-h3;
        }
    }

    &__description {
        @include text-20;

        display: flex;
        color: var(--gray-light);

        max-height: 78px;
        height: 78px;
        width: 100%;
        align-self: stretch;

        /* Multiline ellipsis with full browser support */
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;

        /* Additional safeguards */
        word-break: break-word;
        hyphens: auto;
    }

    &__additional-info-container {
        display: flex;
        justify-content: space-between;

        & > div:not(:last-child) {
            padding-right: 20px;
        }
    }

    &__start-date,
    &__duration {
        @include text-30;

        @include tablet {
            @include text-22;
        }
    }

    &__start-datetime,
    &__addition {
        @include text-20;
        color: var(--gray-light);

        @include tablet {
            @include text-18;
        }
    }

    &__age-rate {
        @include text-22;

        display: flex;
        width: 50px;
        height: 50px;
        padding: 12px 11px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        border-radius: 50%;
        border: 1.5px solid var(--white);

        align-self: center;

        @include tablet {
            @include text-18;
        }
    }

    &__ya-button {
        width: 100%;
        padding: 10px 40px;
    }

    &__buttons-container {
        width: 140px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        gap: 40px;

        @include laptop {
            width: 100%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            cursor: pointer;
            display: flex;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;
            position: absolute;
            top: 0;

            background-color: var(--white-10);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);

            transition: background-color 0.2s ease-out;
        
            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--white-20);
                }
            }
        }

        .swiper-button-prev {
            left: 0;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;
         
        }

        .swiper-button-next {
            right: 0;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;

            transform: scaleX(-1);
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }
    }
}
@supports not (height: 100dvh) {
    .main-banner {
        height: calc(100vh - 53.4px - 50px);
        // header size + высота поисковой строки
    }
}