.main-banner {
    width: 100vw;
    height: calc(100vh - 50px);

    &__slider {
        position: relative;

        height: 100%;
        width: 100%;
    }

    &__slider-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &--placeholder {
            background-color: var(--black-60);
        }
    }

    &__main-image {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
    }

    &__gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--black-60, rgba(0, 0, 0, 0.6)));
    }

    &__wrap {
        width: 100%;
        height: 100%;
        padding: 90px 50px 0 50px;
        display: flex;
        max-width: 1220px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }

    &__container {
        width: 100%;
        display: flex;
        
        justify-content: space-between;
    }

    &__info-container {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        gap: 60px;
        padding-right: 20px;
        max-width: 600px;
        min-width: 500px;
    }
    &__title-container {
        display: flex;
    }
    &__title {
        display: flex;
        height: 140px;
        flex-direction: column;
        justify-content: flex-end;
        align-self: stretch;
    }
    &__description {
        display: flex;
        color: var(--gray-light);
        font-size: 20px;
        line-height: 26px;

        max-height: 728x;
        height: 78px;
        width: 100%;
        align-self: stretch;

        /* Multiline ellipsis with full browser support */
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;

        /* Additional safeguards */
        word-break: break-word;
        hyphens: auto;
    }

    &__additional-info-container {
        display: flex;
        justify-content: space-between;

        & > div:not(:last-child) {
            padding-right: 20px;
        }
    }

    &__start-date,
    &__duration {
        font-size: 30px;
        line-height: normal;
    }

    &__start-datetime,
    &__addition {
        color: var(--gray-light);
        font-size: 20px;
        line-height: 24px;
    }

    &__age-rate {
        font-size: 22px;
        line-height: 28px;

        display: flex;
        width: 50px;
        height: 50px;
        padding: 12px 11px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        aspect-ratio: 1/1;

        border-radius: 50%;
        border: 1.2px solid var(--white);

        align-self: center;
    }

    &__ya-button {
        width: 100%;
        padding: 10px 40px;
    }

    &__buttons-container {
        width: 140px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        gap: 40px;

        .swiper-button-prev,
        .swiper-button-next {
            cursor: pointer;
            display: flex;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;
            position: absolute;
            top: 0;

            background-color: var(--white-10);
            backdrop-filter: blur(20px);
        }

        .swiper-button-prev {
            left: 0;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                background-color: var(--white-20);
            }
        }

        .swiper-button-next {
            right: 0;
            background-image: url('/src/assets/icons/swiper-arrow-btn.svg');
            background-position: center;
            background-repeat: no-repeat;

            transform: scaleX(-1);

            &:hover {
                background-color: var(--white-20);
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }
    }
}
