.performance-info {
    margin-bottom: 100px;

    &__wrap {
        display: flex;
        gap: 50px 60px;
        padding: 0 50px;
        margin-top: 50px;

        @include desktop{
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0;
        }
        @include tablet{
            margin-top: 30px;
        }

    }
    &__main-section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 730px;
        width: 100%;
        gap: 50px;

        @include desktop{
            display: contents;
        }
    }
    &__title-section{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 50px;

        @include tablet{
            gap: 30px;
        }
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include desktop{
            padding: 0 50px;
        }
        @include laptop{
            padding: 0 15px;
        }
    }
 
    &__title {
        @include title-h2--underline;

        @include tablet{
            @include title-h3--underline;
        }
        @include mobile{
            @include title-h4--underline;
        }
    }
    &__tags-container {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap: 30px;

        @include desktop{
            padding: 0 50px;
        }
        @include laptop{
            padding: 0 15px;
        }  
    }

    &__tag{
        @include mobile{
            font-size: 16px;
            display: inline-flex;
            height: 40px;
            padding: 0px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }
    }

    &__duration-container {
        display: flex;
        flex-direction: column;
    }
    &__duration {
        @include text-24;

        @include mobile{
            @include text-22;
        }
    }
    &__addition {
        @include text-20;
        color: var(--gray-light);

        @include mobile{
            @include text-18;
        }
    }

    &__age-rate {
        @include text-22;

        display: flex;
        width: 50px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 11px;

        border-radius: 50%;
        border: 1.5px solid white;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);

        
        @include mobile{
            @include text-18;

            width: 45px;
            height: 45px;
        }
    }

    &__tags {
        display: flex;
        gap: 30px;
    }

    &__additional-description {
        @include text-24;
        color: var(--gray-light);

        @include mobile{
            @include text-20;
        }
    }

    &__description-section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        order: 3; 
        
        @include desktop{
            padding: 0 50px;
        }
        @include laptop{
            padding: 0 15px;
        }
        @include mobile{
            gap: 15px;
        }
    }

    &__description-title,
    &__crew-title,
    &__cast-title{
        @include title-h4;

        @include tablet{
            @include title-h5;

        }
        @include mobile{
            @include title-h6;
        }
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__description-paragraph {
        @include text-20;
        color: var(--gray-light);
    }

    // &__cast-details {
    //     display: flex;
    //     align-items: flex-start;
    //     justify-content: flex-start;
    //     gap: 300px;

    //     width: 100%;
    // }
    &__cast,
    &__crew {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        order: 4;   

        @include desktop{
            padding: 0 50px;
        }
        @include laptop{
            padding: 0 15px;
        }
        @include mobile{
            gap: 15px;
        }
    }

    &__cast-list,
    &__crew-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    &__cast-item,
    &__crew-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 1.5px solid var(--gray-medium);
        transition: all 0.2s ease-out;
    }
    @media (any-hover: hover) {
        &__cast-item:hover,
        &__crew-item:not(.performance-info__dramatist):hover {
            color: var(--pomegranate-bright);
            border-color: inherit;
            .performance-info__cast-role {
                color: inherit;
            }
            .performance-info__crew-position {
                color: inherit;
            }
        }
    }

    &__cast-actor,
    &__crew-member {
        padding-right: 30px;
        @include text-20;
    }

    &__cast-role,
    &__crew-position {
        color: var(--gray-light);
        @include text-20;
    }

    &__ticket-section {
        min-width: 200px;
        max-width: 330px;
        width: 100%;
        height: fit-content;
        align-items: center;

        @include desktop{
            display: contents;
        }
    }

    &__ticket-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include desktop{
            flex-direction: row;
            order: 2;
            width: 100%;
            padding: 0 50px;
            overflow-x: auto; /* или scroll для постоянной полосы прокрутки */
            overflow-y: hidden; /* отключаем вертикальную прокрутку */
            white-space: nowrap; /* запрещаем перенос элементов */
            -webkit-overflow-scrolling: touch; /* плавная прокрутка на iOS */
            scrollbar-width: thin; /* тонкий скроллбар для Firefox */

            /* Скрываем скроллбар */
            // scrollbar-width: none; /* Firefox */
            // -ms-overflow-style: none; /* IE и Edge */
        }

        @include laptop{
            padding: 0 15px;
        }
    }

    &__ticket-item {
        display: flex;
        gap: 20px;
        padding: 15px;
        background: var(--white-10);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        @include desktop{
            flex-direction: column;
            width: 235px;
        }
    }

    &__ticket-date-container {
        flex: 1;
    }
    &__ticket-date {
        @include text-22;
    }
    &__ticket-weekday {
        color: var(--gray-light);
        @include text-18;
    }

    &__ticket-button {
        max-width: 100px;
        padding: 10px 20px;

        @include desktop{
            max-width: 100%;
        }
    }

    &__no-ticket-item {
        display: flex;
        width: 347px;
        max-width: 350px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        white-space: wrap;
        overflow-wrap: break-word;
        gap: 20px;
        background: var(--white-10);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        @include mobile{
            width: 100%;
            max-width: initial;
        }
    }

    &__no-performances-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__no-performances-button {
        display: flex;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        color: var(--black-100);
        background: var(--gray-basic);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        cursor: not-allowed;

        @include text-20;
    }

    &__no-performances-info {
        color: var(--gray-light);

        @include text-18;

    }
}
