.performance-info {
    margin-bottom: 100px;

    &__wrap {
        display: flex;
        justify-content: space-between;

        padding: 0 50px;
        margin-top: 50px;
    }
    &__main-section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 730px;
        width: 100%;
        gap: 60px;
    }
    &__title-section {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__tags-container {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap: 30px;
    }

    &__duration-container {
        display: flex;
        flex-direction: column;
    }
    &__duration {
        font-size: 22px;
        line-height: 28px;
    }
    &__addition {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 22px;
    }

    &__age-rate {
        display: flex;
        width: 50px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 11px;

        border-radius: 50%;
        border: 1.2px solid white;
        backdrop-filter: blur(10px);
    }

    &__tags {
        display: flex;
        gap: 30px;
    }

    &__additional-description {
        color: var(--gray-light);
        font-size: 24px;
        line-height: 28px;
    }

    &__description-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__description {
        color: var(--gray-light);
        font-size: 22px;
        line-height: 28px;
    }

    // &__cast-details {
    //     display: flex;
    //     align-items: flex-start;
    //     justify-content: flex-start;
    //     gap: 300px;

    //     width: 100%;
    // }
    &__cast,
    &__crew {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__cast-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__cast-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1.5px solid var(--gray-medium);
    }

    &__cast-item:hover {
        color: var(--pomegranate-bright);
        border-color: inherit;
        .performance-info__cast-role {
            color: inherit;
        }
    }
    &__cast-actor {
        font-size: 22px;
        line-height: 28px;
    }

    &__cast-role {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 22px;
    }

    &__ticket-section {
        max-width: 330px;
        width: 100%;
        height: fit-content;
        background: var(--white-10);
        backdrop-filter: blur(20px);
        padding: 20px;
    }
    &__ticket-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__ticket-item {
        display: flex;
        gap: 10px;
    }

    &__ticket-date-container {
        flex: 1;
    }
    &__ticket-date {
        font-size: 22px;
        line-height: 28px;
    }
    &__ticket-weekday {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 22px;
    }

    &__ticket-button {
        display: flex;
        flex: 1 0 0;
        height: 50px;
        max-width: 100px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        color: var(--pomegranate-bright);
        border: 1.5px solid var(--pomegranate-bright);
        backdrop-filter: blur(30px);

        font-size: 18px;
        line-height: 22px;

        &:hover {
            color: var(--white);
            background: var(--pomegranate-basic);
            border-color: var(--pomegranate-basic);
        }
        &:disabled {
            background: var(--gray-basic);
            color: var(--black);
            border: none;
        }
    }

    &__no-performances-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__no-performances-button {
        display: flex;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        color: var(--black);
        background: var(--gray-basic);
        backdrop-filter: blur(30px);
        cursor: not-allowed;

        font-size: 18px;
        line-height: 22px; 
    }

    &__no-performances-info {
        color: var(--gray-light);

        font-size: 18px;
        line-height: 22px; /* 122.222% */
    }
}
