.performance-info {
    margin-bottom: 100px;

    &__wrap {
        display: flex;
        justify-content: space-between;

        padding: 0 50px;
        margin-top: 50px;
    }
    &__main-section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 730px;
        width: 100%;
        gap: 60px;
    }
    &__title-section {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__title-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__title{
        @include title-h2--underline;
    }
    &__tags-container {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap: 30px;
    }

    &__duration-container {
        display: flex;
        flex-direction: column;
    }
    &__duration {
        font-size: 22px;
        line-height: 130%;
    }
    &__addition {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 130%;
    }

    &__age-rate {
        font-size: 22px;
        line-height: 130%;

        display: flex;
        width: 50px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 11px;

        border-radius: 50%;
        border: 1.5px solid white;
        backdrop-filter: blur(10px);
    }

    &__tags {
        display: flex;
        gap: 30px;
    }

    &__additional-description {
        color: var(--gray-light);
        font-size: 24px;
        line-height: 130%;
    }

    &__description-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__description-container{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__description-paragraph {
        color: var(--gray-light);
        font-size: 22px;
        line-height: 130%;
    }

    // &__cast-details {
    //     display: flex;
    //     align-items: flex-start;
    //     justify-content: flex-start;
    //     gap: 300px;

    //     width: 100%;
    // }
    &__cast,
    &__crew {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__cast-list,
    &__crew-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    &__cast-item,
    &__crew-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 1.5px solid var(--gray-medium);
        transition: all 0.2s ease-out;
    }

    &__cast-item:hover,
    &__crew-item:not(.performance-info__dramatist):hover {
        color: var(--pomegranate-bright);
        border-color: inherit;
        .performance-info__cast-role {
            color: inherit;
        }
        .performance-info__crew-position{
            color: inherit;
        }
    }

    &__cast-actor,
    &__crew-member {
        font-size: 20px;
        line-height: 130%;
    }

    &__cast-role,
    &__crew-position {
        color: var(--gray-light);
        font-size: 20px;
        line-height: 130%;
    }

    &__ticket-section {
        min-width: 200px;
        max-width: 330px;
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    &__ticket-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__ticket-item {
        display: flex;
        gap: 20px;
        padding: 15px;
        background: var(--white-10);
        backdrop-filter: blur(20px);
    }

    &__ticket-date-container {
        flex: 1;
    }
    &__ticket-date {
        font-size: 22px;
        line-height: 130%;
    }
    &__ticket-weekday {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 130%;
    }

    &__ticket-button {
        max-width: 100px;
        padding: 10px 20px;   
    }

    &__no-ticket-section{
        min-width: 200px;
        max-width: 330px;
        width: 100%;
        height: fit-content;
        align-items: center;
        padding: 20px;
        background: var(--white-10);
        backdrop-filter: blur(20px);
    }

    &__no-performances-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__no-performances-button {
        display: flex;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        color: var(--black-100);
        background: var(--gray-basic);
        backdrop-filter: blur(30px);
        cursor: not-allowed;

        font-size: 20px;
        line-height: 130%; 
    }

    &__no-performances-info {
        color: var(--gray-light);

        font-size: 18px;
        line-height: 130%; 
    }
}
